{% extends 'music/base.html' %}
{% block body %}
    <a href="{% url 'music:detail_artist' album.artist.id %}">
        <IMG src="{{ album.artist.photo }}" width="10%"><br>
        <label> {{ album.artist.name }}</label><br></a><br>
    <a href="{% url 'music:detail_album' album.artist.id %}">
        <IMG src="{{ album.logo }}" width="10%"><br>
        <label> {{ album.title }}</label><br></a><br>
    {% for song in album.song_set.all %}
        {{ song.title }} {{ song.type }} <!--{{ song.is_favorite }}--><br>
    {% endfor %}
{% endblock %}
